# SQLite

***
### Conexion, cursor y consultas basicas 

import sqlite3 **Importamos el modulo sqlite3**  

conexion = sqlite3.connect("Ejemplo.db") **Establecemos una conexion con la base de datos y si no existe se crea**  

cursor = conexion.cursor() **Conectamos el cursor co la base de datos ya que co este manejaremos todo**  

***Lo que se encuentra adentro del parametro de ejecucion esta e lenguaje SQL***  
cursor.execute("CREATE TABLE users (nombre VARCHAR(100), edad INTEGER, email VARCHAR(100))")  
**Creamos una tabla en la base de datos; para crearla no tiene que existir previamente en la base de dato**  
cursor.execute("INSERT INTO users VALUES ('Esteban', 20, 'estb@gmail.com')")  
**De esta manera podemos agregar campos a la tabla**  

cursor.execute("SELECT * FROM users") **Le decimos al cursor que seleccione todo lo de esa tabla**  

usurio = cursor.fetchall() **De esta manera recuperamos todos los registros seleccionados, y nos devueltos a manera de una lista de tuplas**  


usuarios = [
    ("Giselle", 20, "giselle@gmail.com"),
    ("Eli", 20, "eli@gmail.com"),
    ("Santiago", 20, "santiago@gmail")
]

cursor.executemany("INSERT INTO users VALUES(?, ?, ?)", usuarios) **Insetamos registros de maera masiva a la tabla**  

conexion.commit() **Confimamos los cambios para que puedan ser realizados**  
conexion.close() **Finalizamos la conexion**

In [2]:
import sqlite3

conexion = sqlite3.connect("Ejemplo.db")

cursor = conexion.cursor()
#cursor.execute("CREATE TABLE users (nombre VARCHAR(100), edad INTEGER, email VARCHAR(100))")
#cursor.execute("INSERT INTO users VALUES ('Esteban', 20, 'estb@gmail.com')")

#cursor.execute("SELECT * FROM users")

#usurio = cursor.fetchall()


usuarios = [
    ("Giselle", 20, "giselle@gmail.com"),
    ("Eli", 20, "eli@gmail.com"),
    ("Santiago", 20, "santiago@gmail")
]

cursor.executemany("INSERT INTO users VALUES(?, ?, ?)", usuarios)

conexion.commit()
conexion.close()

***
### Claves primarias

cursor.execute('''   
    CREATE TABLE users(  
        dni VARCHAR(9) PRIMARY KEY,  
        nombre VARCHAR(100),  
        edad INTEGER,  
        email VARCHAR(100)  
    )  
    ''')  

**Al establecer el campo de dni como clave primaria quiere decir que en la tabla no puede haber otro registro con el mismo valor en este campo**  

cursor.executemany("INSERT INTO usuarios VALUES(?,?,?,?)", usuarios) **Si intentamos agrerar usuarios con un mismo dni daria error**

In [2]:
import sqlite3

conexion = sqlite3.connect("usuarios.db")
cursor = conexion.cursor()

# cursor.execute(''' 
#     CREATE TABLE users(
#         dni VARCHAR(9) PRIMARY KEY,
#         nombre VARCHAR(100),
#         edad INTEGER,
#         email VARCHAR(100)
#     )
#     ''')

usuarios = [
    ("01","Estebann", 20, "esteban@gamil,com"),
    ("02","Giselle", 20, "giselle@gmail.com"),
    ("03","Eli", 20, "eli@gmail.com"),
    ("04","Santiago", 19, "santiago@gmail.com")
]

cursor.executemany("INSERT INTO users VALUES(?,?,?,?)", usuarios)

conexion.commit()
conexion.close()

IntegrityError: UNIQUE constraint failed: users.dni

***
### Campos autoincrementables

cursor.execute('''  
    CREATE TABLE productos (  
        id INTEGER PRIMARY KEY AUTOINCREMENT,    
        nombre VARCHAR(100) NOT NULL,  
        marca VARCHAR(50) NOT NULL,  
        precio FLOAT NOT NULL  
    )  
    ''')  

**Al usar el AUTOINCREMENT lo que hacemos es crear un campo que por si solo se ira incrementando cada ves que se agrege a la tabla un elemento nuevo**  

cursor.executemany("INSERT INTO productos VALUES (null,?,?,?)", productos)  

**Para poder pasarle varios productos para agregar a la tabla hay que pasar el primer valor como null dado que este valor no lo leera si no que en automatico lo autoincrementara**  

cursor.execute("SELECT * FROM productos") **Seleccionamos toda la tabla**
productos = cursor.fetchall()  **Pasamso toda la tabla a una variable donde quedara como una lista de tuplas, siendo cada tupla un objeto de la tabla**  
for i in productos:  
    print(i)

In [4]:
import sqlite3

conexion = sqlite3.connect("Productos.db")
cursor = conexion.cursor()

# cursor.execute('''
#     CREATE TABLE productos (
#         id INTEGER PRIMARY KEY AUTOINCREMENT, 
#         nombre VARCHAR(100) NOT NULL,
#         marca VARCHAR(50) NOT NULL,
#         precio FLOAT NOT NULL
#     )
#     ''')

# productos = [
#     ("Teclado","Logitech", 19.99),
#     ("Pantalla","LG", 99.99),
#     ("A54","Samsung", 100.99),
# ]  

#cursor.executemany("INSERT INTO productos VALUES (null,?,?,?)", productos)

cursor.execute("SELECT * FROM productos")
productos = cursor.fetchall()
for i in productos: 
    print(i)

conexion.commit()
conexion.close()

(1, 'Teclado', 'Logitech', 19.99)
(2, 'Pantalla', 'LG', 99.99)
(3, 'A54', 'Samsung', 100.99)

***
### Claves unicas

Al usar el modificar unique obtenenemos que ese parametro o esa clave sera unica para cada registro esto no es util ya que gracias a esto podemos modificar y borrar registro de manera mas sencilla

In [4]:
conexion = sqlite3.connect('usuarios_autoincremental.db')

cursor = conexion.cursor()

# Creamos un campo dni como clave primaria
cursor.execute('''CREATE TABLE IF NOT EXISTS usuarios (
                    id INTEGER PRIMARY KEY,
                    dni VARCHAR(9) UNIQUE,
                    nombre VARCHAR(100), 
                    edad INTEGER(3),
                    email VARCHAR(100))''')

usuarios = [('11111111A', 'Hector', 27, 'hector@ejemplo.com'),
            ('22222222B', 'Mario', 51, 'mario@ejemplo.com'),
            ('33333333C', 'Mercedes', 38, 'mercedes@ejemplo.com'),
            ('44444444D', 'Juan', 19, 'juan@ejemplo.com')]

cursor.executemany("INSERT INTO usuarios VALUES (null, ?,?,?,?)", usuarios)

conexion.commit()
conexion.close()

IntegrityError: UNIQUE constraint failed: usuarios.dni

***
### Where

Una vez contamos con algún campo que nos sirva de identificador único, podemos realizar consultas específicas utilizando la cláusula WHERE

In [ ]:
conexion = sqlite3.connect('usuarios_autoincremental.db')
cursor = conexion.cursor()

# Recuperamos un registro de la tabla de usuarios
cursor.execute("SELECT nombre, edad, email FROM usuarios WHERE dni='22222222B'")

usuario = cursor.fetchone()
print(usuario)

conexion.close()

### Update

De forma similar al SELECT podemos utilizar la cláusula:

UPDATE tabla
SET columna1 = valor1, columna2 = valor2...., columnaN = valorN
WHERE [condicion]

In [ ]:
conexion = sqlite3.connect('usuarios_autoincremental.db')
cursor = conexion.cursor()

# Actualizamos un registro
cursor.execute("UPDATE usuarios SET nombre='Hector Costa' " \
    "WHERE dni='11111111A'")

# Ahora lo consultamos de nuevo
cursor.execute("SELECT * FROM usuarios WHERE dni='11111111A'")
usuario = cursor.fetchone()
print(usuario)

conexion.commit()
conexion.close()

### DELETE
Finalmente, para borrar un registro a partir de su id o campo único:



DELETE FROM tabla WHERE [condicion]

In [ ]:
conexion = sqlite3.connect('usuarios_autoincremental.db')
cursor = conexion.cursor()

# Creamos un registro de prueba
cursor.execute("INSERT INTO usuarios VALUES " \
    "(null, '55555555E', 'Fernando', 31, 'fernando@ejemplo.com')")

# Consultamos los usuarios
for usuario in cursor.execute("SELECT * FROM usuarios"):
    print(usuario)

# Ahora lo borramos
cursor.execute("DELETE FROM usuarios WHERE dni='55555555E'")

print() # Espacio en blanco

# Consultamos de nuevo los usuarios
for usuario in cursor.execute("SELECT * FROM usuarios"):
    print(usuario)

conexion.commit()
conexion.close()