# SQLite

***
### Conexion, cursor y consultas basicas 

import sqlite3 **Importamos el modulo sqlite3**  

conexion = sqlite3.connect("Ejemplo.db") **Establecemos una conexion con la base de datos y si no existe se crea**  

cursor = conexion.cursor() **Conectamos el cursor co la base de datos ya que co este manejaremos todo**  

***Lo que se encuentra adentro del parametro de ejecucion esta e lenguaje SQL***  
cursor.execute("CREATE TABLE users (nombre VARCHAR(100), edad INTEGER, email VARCHAR(100))")  
**Creamos una tabla en la base de datos; para crearla no tiene que existir previamente en la base de dato**  
cursor.execute("INSERT INTO users VALUES ('Esteban', 20, 'estb@gmail.com')")  
**De esta manera podemos agregar campos a la tabla**  

cursor.execute("SELECT * FROM users") **Le decimos al cursor que seleccione todo lo de esa tabla**  

usurio = cursor.fetchall() **De esta manera recuperamos todos los registros seleccionados, y nos devueltos a manera de una lista de tuplas**  


usuarios = [
    ("Giselle", 20, "giselle@gmail.com"),
    ("Eli", 20, "eli@gmail.com"),
    ("Santiago", 20, "santiago@gmail")
]

cursor.executemany("INSERT INTO users VALUES(?, ?, ?)", usuarios) **Insetamos registros de maera masiva a la tabla**  

conexion.commit() **Confimamos los cambios para que puedan ser realizados**
conexion.close() **Finalizamos la conexion**

In [7]:
import sqlite3

conexion = sqlite3.connect("Ejemplo.db")

cursor = conexion.cursor()
#cursor.execute("CREATE TABLE users (nombre VARCHAR(100), edad INTEGER, email VARCHAR(100))")
#cursor.execute("INSERT INTO users VALUES ('Esteban', 20, 'estb@gmail.com')")

#cursor.execute("SELECT * FROM users")

#usurio = cursor.fetchall()


usuarios = [
    ("Giselle", 20, "giselle@gmail.com"),
    ("Eli", 20, "eli@gmail.com"),
    ("Santiago", 20, "santiago@gmail")
]

cursor.executemany("INSERT INTO users VALUES(?, ?, ?)", usuarios)

conexion.commit()
conexion.close()

***
### Claves primarias, campos autoincrementables y claves unicas

cursor.execute('''   
    CREATE TABLE users(  
        dni VARCHAR(9) PRIMARY KEY, **Al establecer este campo como clave primaria quiere decir que en la tabla no puede haber otro registro con el mismo valor en este campo**  
        nombre VARCHAR(100),  
        edad INTEGER,  
        email VARCHAR(100)  
    )  
    ''')  

cursor.executemany("INSERT INTO usuarios VALUES(?,?,?,?)", usuarios) **Si intentamos agrerar usuarios con un mismo dni daria error**

In [2]:
import sqlite3

conexion = sqlite3.connect("usuarios.db")
cursor = conexion.cursor()

# cursor.execute(''' 
#     CREATE TABLE users(
#         dni VARCHAR(9) PRIMARY KEY,
#         nombre VARCHAR(100),
#         edad INTEGER,
#         email VARCHAR(100)
#     )
#     ''')

usuarios = [
    ("01","Estebann", 20, "esteban@gamil,com"),
    ("02","Giselle", 20, "giselle@gmail.com"),
    ("03","Eli", 20, "eli@gmail.com"),
    ("04","Santiago", 19, "santiago@gmail.com")
]

cursor.executemany("INSERT INTO usuarios VALUES(?,?,?,?)", usuarios)

conexion.commit()
conexion.close()

OperationalError: table users already exists